<!-- Checkout view -->
<div class="row">
 <section id="single-page-checkout" class="col-md-12 clearfix">
  <div class="row">
    <article class="col-xs-12 col-sm-4 col-lg-4" style="border: 1px solid red; ">

    <!----------------------- STEP 1 Checkout Login------------------------->

    <!-- login checkout-->
      <section class="contentlogin"> 
        <header class="checkout-title">
           <span>1. Login</span>
        </header>
         
        <!--Form login --> 
        <form>
          <!-- email -->
          <div class="form-group">
            <label for="InputEmail1">Email</label>
            <input type="email" class="form-control" id="InputEmail1" placeholder="Email">
          </div>
          
          <!-- password -->
          <div class="form-group">
            <label for="InputPassword1">Senha</label>
            <input type="password" class="form-control" id="InputPassword1" placeholder="Senha">
          </div>
           
          <!-- buttom continue --> 
          <div class="form-group">
           <button type="submit" class="btn btn-default btn-block">Continuar</button>
          </div>
          
          <!-- link forgot password --> 
          <p class="forgot-password text-center">
            <a href="#" title="Esqueci minha senha">Esqueci minha senha</a>
          </p>
          <hr>

          <!-- buttom new sign -->
          <div class="form-group">
           <button type="submit" class="btn btn-default btn-block">Fazer novo cadastro</button>
          </div>
        </form>
      </section>
      <!----------------------- /STEP 1 Checkout login------------------------->
      
      <!----------------------- STEP 2 Checkout Form------------------------->
      <!-- Form checkout -->  
      <section class="contentForm">
        <header class="checkout-title">
          <span>1. Sou um novo cliente</span>
        </header>
        <div class="row">
          <form>    
            <!-- e-mail -->  
            <div class="col-xs-12 col-sm-12 col-lg-12 form-group">
              <label for="InputEmail2">Email</label>
              <input type="email" class="form-control" id="InputEmail2" placeholder="jane.doe@.com">
            </div> 

            <!-- name -->
            <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
              <label for="InputName2">Nome</label>
              <input type="text" class="form-control" id="InputName2" placeholder="Seu nome">
            </div>

            <!-- last name -->
            <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
              <label for="InputSobrenome2">Sobrenome</label>
              <input type="text" class="form-control" id="InputSobrenome2" placeholder="Sobrenome">
            </div>   

            <!-- CPF Checkout form -->
            <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
              <label for="InputCpf2">CPF</label>
              <input type="text" class="form-control" id="InputCpf2" placeholder="000.000.000-00">
            </div>   

            <!-- date birth -->
            <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
              <label for="InputDataNascimento2">Data de Nascimento</label>
              <input type="text" class="form-control" id="InputDataNascimento2" placeholder="00/00/0000">
            </div>

            <!-- password -->
            <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
              <label for="InputPassword2">Senha</label>
              <input type="password" class="form-control" id="InputPassword2" placeholder="Senha">
            </div>

            <!-- password -->
            <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
              <label for="InputPassword2">Confirmação de Senha</label>
              <input type="password" class="form-control" id="InputPassword2" placeholder="Confirmar Senha">
            </div>   
            
            <!-- checkbox terms -->  
            <div class="col-xs-12 col-sm-12 col-lg-12 checkbox">
              <label>
                <input type="checkbox"> Li e concordo com os <a href="#" title="Termos">termos</a>
              </label>
            </div>
             
            <!-- buttom regsiter --> 
            <div class="col-xs-12 col-sm-12 col-lg-12 form-group">
              <button type="submit" class="btn btn-default btn-block">Cadastrar</button>
            </div>
          </form>
          
          <!-- link back -->
          <p class="col-xs-12 col-sm-12 col-lg-12 text-center">
            <a href="#" title="Voltar">Voltar</a>
          </p>
        </div> 
      </section>
      <!----------------------- /STEP 2 Checkout Form------------------------->
 
      <!----------------------- STEP 3 Checkout Address------------------------->
      <!-- New address checkout -->
      <section class="newsAddress-block">
        <header class="checkout-title">
          <span>1. Novo Endereço</span>
        </header>
      
       <div class="row"> 
       <form> 
       <!-- cep -->
        <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
          <label for="InputCep3">Cep*</label>
          <input type="cep" class="form-control" id="InputCep3" placeholder="00000-000">
        </div>
        
        <!-- link cep -->
        <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
          <div class="link-form"><a href="http://www.buscacep.correios.com.br/servicos/dnec/menuAction.do?Metodo=menuEndereco" title="Não sei meu CEP" target="_blank">Não sei meu CEP*</a></div> 
        </div> 
        
        <!-- receiver -->
        <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
          <label for="InputDestinatario3">Destinatário*</label>
         <input type="destinatario" class="form-control" id="InputDestinatario3" placeholder="Destinatário">
        </div>

       <!-- phone -->
        <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
          <label for="Inputphone3">Telefone*</label>
         <input type="phone" class="form-control" id="Inputphone3" placeholder="Telefone">
        </div>
       
       <!-- address -->  
        <div class="col-xs-12 col-sm-12 col-lg-12 form-group">
          <label for="InputAddress3">Endereço*</label>
          <input type="endereco" class="form-control" id="InputEndereco3" placeholder="Endereço">
        </div>   
      
       <!-- number -->
        <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
          <label for="InputNumero3">Número*</label>
         <input type="numero" class="form-control" id="InputNumero3" placeholder="Número">
        </div>

       <!-- complement -->
        <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
          <label for="Inputcomplement3">Complemento*</label>
         <input type="complement" class="form-control" id="InputComplement3" placeholder="Complemento">
        </div> 

        <!-- bairro -->  
        <div class="col-xs-12 col-sm-12 col-lg-12 form-group">
          <label for="InputBairro3">Bairro*</label>
          <input type="endereco" class="form-control" id="InputBairro3" placeholder="Bairro">
        </div>   

        <!-- select state -->
        <div class="col-xs-12 col-sm-6 col-lg-6 select-block">
          <strong>Estado*</strong>
          <select class="form-control">
            <option>SP</option>
            <option>RJ</option>
            <option>BH</option>
            <option>TO</option>
          </select>
         </div> 

        <!-- select city -->
        <div class="col-xs-12 col-sm-6 col-lg-6 select-block">
         <strong>Cidade*</strong>
          <select class="form-control">
            <option>São Paulo</option>
            <option>Rio de Janeiro</option>
            <option>Belo Horizonte</option>
            <option>Palmas</option>
          </select>
        </div> 

        <!-- buttom register address -->
        <div class="col-xs-12 col-sm-6 col-lg-6 form-group">
          <button type="submit" class="btn btn-default btn-block">Cadastrar endereço</button>
        </div>
       </form> 
      </div>
     </section>
     <!----------------------- /STEP 3 Checkout Address------------------------->

     <!----------------------- STEP 4 Checkout Forgot my password------------------------->
     <!-- I forgot my password -->
      <section class="forgot-mypassword">
        <header class="checkout-title">
          <span>1. Esqueci minha senha</span>
          <p>Enviaremos um email com instruções para alteração de senha.</p>
        </header>
      
        <form> 
        <!-- enter your email -->  
        <div class="form-group">
          <label for="InputEmailinformado4">Informe seu email</label>
          <input type="emailInformado" class="form-control" id="InputEmailinformado4" placeholder="">
        </div>   
        
        <!-- buttom submit -->
        <div class="form-group">
          <button type="submit" class="btn btn-default btn-block">Enviar</button>
        </div>
        
        <!-- link back -->
        <p class="text-center">
          <a href="#" title="Voltar">Voltar</a>
        </p>
        
       </form>
     </section>
     <!----------------------- /STEP 4 Checkout Forgot my password------------------------->

     <!----------------------- STEP 5 Checkout address ------------------------->
     <!-- address checkout -->
      <section class="address-block">
        <header class="checkout-title">
          <span>1. Endereço</span>
        </header>

        <div class="row">
          <section class="col-xs-12 col-ms-12 col-lg-12">
            <article class="block-container-default">
              <!-- edit options -->
              <div class="edit-options">
                <a href="#" title="Editar">Editar</a>
              </div>
              
              <!-- info address-->
              <address>
                <span class="title-name-address">Anderson Camacho</span>
                <span class="field-address-info">Rua Paúva, 559</span>
                <span class="field-address-info">Vila Matilde</span>
                <span class="field-address-info">CEP 05116-000</span>
                <span class="field-address-info">São Paulo,SP</span>
                <span class="field-address-info primary-address">Endereço principal</span>
              </address>
            </article>   
          </section>

          <!-- link new address -->  
          <a class="col-xs-12 col-ms-7 col-lg-7 text-left" href="#" title="Cadastrar novo endereço">+ Cadastrar novo endereço</a>
          <!-- link view all address -->
          <a class="col-xs-12 col-ms-5 col-lg-5 text-right" href="#" title="Mostrar todos os endereços">Mostrar todos</a>
        </div>

         <!-- Delivery -->
          <section class="delivery-address">
            <header class="checkout-title">
              <span>Entrega</span>
            </header>

         <section>
            <form>
            <!-- radio delivery -->  
            <article class="block-container-default">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Direct Log - R$23,00 - 7 dias úteis
                </label> 
              </div>
              <hr>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  e-Sedex - R$26,00 - 5 dias úteis
                </label>
            </div>
          </article>
            
        <!-- buttom go payment -->
        <div class="form-group">
          <button type="submit" class="btn btn-default btn-block">Ir para o pagamento</button>
        </div>
      
        </form> 
       </section>  
       </section>
      </section>
      <!----------------------- /STEP 5 Checkout address ------------------------->

      <!----------------------- STEP 6 Checkout registered address ------------------------->
      
      <!-- registered address -->
      <section class="registered-adress">
        <header class="checkout-title">
          <span>1. Endereços cadastrados</span>
        </header>

          <article class="block-container-default">            
            <!-- info address-->
            <span class="title-name-address">Anderson Camacho</span>
            <span class="field-address-info">Rua Paúva, 559</span>
            <span class="field-address-info">Vila Matilde</span>
            <span class="field-address-info">CEP 05116-000</span>
            <span class="field-address-info">São Paulo,SP</span>
            <span class="field-address-info primary-address">Endereço principal</span>
          </article>   
           
          <article class="block-container-default">            
            <!-- info address-->
            <span class="title-name-address">Ricardo Santos</span>
            <span class="field-address-info">Rua Augusta, 34</span>
            <span class="field-address-info">Vila Matilde</span>
            <span class="field-address-info">CEP 05116-000</span>
            <span class="field-address-info">São Paulo,SP</span> 
            <button type="submit" class="btn btn-default btn-block">Definir endereço padrão</button>
          </article>   
         
           <article class="block-container-default">            
            <!-- info address-->
            <span class="title-name-address">Rafael Almeida</span>
            <span class="field-address-info">Rua Paúva, 559</span>
            <span class="field-address-info">Osasco</span>
            <span class="field-address-info">CEP 05116-000</span>
            <span class="field-address-info">São Paulo,SP</span>
            <button type="submit" class="btn btn-default btn-block">Definir endereço padrão</button>
           </article>   
                  
           <article class="block-container-default">            
            <!-- info address-->
            <span class="title-name-address">Guilherme Oliveira</span>
            <span class="field-address-info">Rua Maria, 23</span>
            <span class="field-address-info">Vila das Oliveiras</span>
            <span class="field-address-info">CEP 05116-000</span>
            <span class="field-address-info">Campinas,SP</span>
            <button type="submit" class="btn btn-default btn-block">Definir endereço padrão</button>
           </article>   
           
           <article class="block-container-default">            
            <!-- info address-->
            <span class="title-name-address">Antonio José</span>
            <span class="field-address-info">Rua Conceição, 559</span>
            <span class="field-address-info">Vila Patriarca</span>
            <span class="field-address-info">CEP 05116-000</span>
            <span class="field-address-info">São Paulo,SP</span>
            <button type="submit" class="btn btn-default btn-block">Definir endereço padrão</button>
           </article>   

      </section>
    </article>
    <!----------------------- /STEP 6 Checkout registered address ------------------------->

    <!-- pagemnto checkout -->  
    <article class="col-xs-12 col-sm-4 col-lg-4" style="border: 1px solid red">
      <section class="contentPayment"> 
        <header class="checkout-title">
           <span>2. Pagamento</span>
        </header>
        <p>Selecione uma forma de pagamento</p>

        <!-- block cupom -->
        <section class="cupom-block">
          <article class="block-container-default">
            <strong>Cupom:</strong>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-lg-10">
                <input type="voucher" class="form-control" id="inputVoucher" placeholder="">
              </div>
              <a href="#" title="Click para validar o Cupom">
                <span class="col-xs-12 col-sm-1 col-lg-1 glyphicon glyphicon-ok"></span>
              </a>
          </div>
          </article> 
        </section> 

        <!-- payment one card -->
        <section class="block-payment-checkout">
          <article class="payment-cards">
            <a href="#" class="payment-checkout-link">
              <i class="glyphicon glyphicon-credit-card"></i>
              Cartão de Crédito
            </a>
          </article>
          
          <div class="row">
            <article class="form-payment-checkout clearfix">
              <form>
                <!-- NumberCard -->
                  <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                    <label for="InputCardNumberOne">Número do Cartão</label>
                    <input type="cardNumberOne" class="form-control" id="InputCardNumberOne" placeholder="0000-00000-0000-0000">
                  </div>

                  <!-- validity month -->
                  <div class="col-xs-12 col-md-6 col-lg-6 select-block">
                      <strong>Validade Mês*</strong>
                      <select class="form-control">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                      </select>
                  </div>

                  <!-- validity year -->
                  <div class="col-xs-12 col-md-6 col-lg-6 select-block">
                      <strong>Validade Ano*</strong>
                      <select class="form-control">
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                      </select>
                  </div>

                  <!-- name titular -->
                  <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                    <label for="InputNameTitular">Nome do titular</label>
                    <input type="NameTitular" class="form-control" id="NameTitular">
                  </div>
                  
                  <!-- cpf titular -->
                  <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                    <label for="InputCpfTitular">CPF do Titular</label>
                    <input type="cpfTitular" class="form-control" id="cpfTitular" placeholder="000.000.000-00">
                  </div>

                  <!-- security code -->
                  <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                    <label for="InputSecurityCode">Código de segurança</label>
                    <input type="SecurityCode" class="form-control" id="SecurityCode">
                  </div>

                  <!-- installments -->
                  <div class="col-xs-12 col-md-12 col-lg-12 select-block">
                      <strong>Parcelamento</strong>
                      <select class="form-control">
                        <option>1x R$1200,00</option>
                        <option>2X R$ 600,00</option>
                        <option>3X R$ 400,00</option>
                        <option>3X R$ 200,00</option>
                      </select>
                  </div>
              </form>
            </article>
          </div>
          <!-- payment two card -->
          <article class="payment-cards">
            <a href="#" class="payment-checkout-link">
              <i class="glyphicon glyphicon-credit-card"></i>
              Dois Cartões de Crédito
            </a>
          </article>

          <article>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#oneCard" aria-controls="oneCard" role="tab" data-toggle="tab">1 Cartão</a></li>
                <li role="presentation"><a href="#twoCard" aria-controls="twoCard" role="tab" data-toggle="tab">2 Cartão</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="oneCard">
                  <div class="row">
                  <article class="form-payment-checkout clearfix">
                    <form>
                      <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <label class="" for="">Quanto quer pagar neste primeiro cartão?</label>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                        </div>
                      </div>

                      <!-- NumberCard -->
                      <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <label for="InputCardNumberOne">Número do Cartão</label>
                        <input type="cardNumberOne" class="form-control" id="InputCardNumberOne" placeholder="0000-00000-0000-0000">
                      </div>

                      <!-- validity month -->
                      <div class="col-xs-12 col-md-6 col-lg-6 select-block">
                          <strong>Validade Mês*</strong>
                          <select class="form-control">
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                          </select>
                      </div>

                      <!-- validity year -->
                      <div class="col-xs-12 col-md-6 col-lg-6 select-block">
                          <strong>Validade Ano*</strong>
                          <select class="form-control">
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                          </select>
                      </div>

                      <!-- name titular -->
                      <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                        <label for="InputNameTitular">Nome do titular</label>
                        <input type="NameTitular" class="form-control" id="NameTitular">
                      </div>
                      
                      <!-- cpf titular -->
                      <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                        <label for="InputCpfTitular">CPF do Titular</label>
                        <input type="cpfTitular" class="form-control" id="cpfTitular" placeholder="000.000.000-00">
                      </div>

                      <!-- security code -->
                      <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                        <label for="InputSecurityCode">Código de segurança</label>
                        <input type="SecurityCode" class="form-control" id="SecurityCode">
                      </div>

                      <!-- installments -->
                      <div class="col-xs-12 col-md-12 col-lg-12 select-block">
                        <strong>Parcelamento</strong>
                        <select class="form-control">
                          <option>1x R$1200,00</option>
                          <option>2X R$ 600,00</option>
                          <option>3X R$ 400,00</option>
                          <option>3X R$ 200,00</option>
                        </select>
                      </div>
                    </form>
                   </article>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="twoCard">
                 <div class="row">
                  <article class="form-payment-checkout clearfix">
                    <form>
                      <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                        <label class="" for="">Quanto quer pagar neste segundo cartão?</label>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                        </div>
                      </div>

                      <!-- NumberCard -->
                        <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                          <label for="InputCardNumberOne">Número do Cartão</label>
                          <input type="cardNumberOne" class="form-control" id="InputCardNumberOne" placeholder="0000-00000-0000-0000">
                        </div>

                        <!-- validity month -->
                        <div class="col-xs-12 col-md-6 col-lg-6 select-block">
                            <strong>Validade Mês*</strong>
                            <select class="form-control">
                              <option>01</option>
                              <option>02</option>
                              <option>03</option>
                              <option>04</option>
                            </select>
                        </div>

                        <!-- validity year -->
                        <div class="col-xs-12 col-md-6 col-lg-6 select-block">
                            <strong>Validade Ano*</strong>
                            <select class="form-control">
                              <option>2016</option>
                              <option>2017</option>
                              <option>2018</option>
                              <option>2019</option>
                            </select>
                        </div>

                        <!-- name titular -->
                        <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                          <label for="InputNameTitular">Nome do titular</label>
                          <input type="NameTitular" class="form-control" id="NameTitular">
                        </div>
                        
                        <!-- cpf titular -->
                        <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                          <label for="InputCpfTitular">CPF do Titular</label>
                          <input type="cpfTitular" class="form-control" id="cpfTitular" placeholder="000.000.000-00">
                        </div>

                        <!-- security code -->
                        <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                          <label for="InputSecurityCode">Código de segurança</label>
                          <input type="SecurityCode" class="form-control" id="SecurityCode">
                        </div>

                        <!-- installments -->
                        <div class="col-xs-12 col-md-12 col-lg-12 select-block">
                            <strong>Parcelamento</strong>
                            <select class="form-control">
                              <option>1x R$1200,00</option>
                              <option>2X R$ 600,00</option>
                              <option>3X R$ 400,00</option>
                              <option>3X R$ 200,00</option>
                            </select>
                        </div>
                    </form>
                   </article>
                  </div>
                </div>
                </div>
              </div>
          </article>
        </section>
      </section> 
    </article>
    <!--finish checkout-->
    <article class="col-xs-12 col-sm-4 col-lg-4" style="border: 1px solid red">teste</article>  
  </div>   
 </section>
</div>