		<!-- Checkout view -->
          <div class="row">
	         <section id="single-page-checkout" class="col-md-12 clearfix">
	          <div class="row">
	            <!-- login checkout-->
              <article class="col-xs-12 col-sm-4 col-lg-4" style="border: 1px solid red; ">
                <div class="checkout-title">
                   <span>1. Login</span>
                </div>

                <!--Form login --> 
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                  </div>

                  <div class="form-group">
                   <button type="submit" class="btn btn-default btn-lg btn-block">Continuar</button>
                  </div>

                  <p class="forgot-password text-center">
                    <a href="#" title="Esqueci minha senha">Esqueci minha senha</a>
                  </p>
                  <hr>

                  <div class="form-group">
                   <button type="submit" class="btn btn-default btn-lg btn-block">Fazer novo cadastro</button>
                  </div>
                </form>
              </article>
              
              <!-- Form checkout -->  
	            <article class="col-xs-12 col-sm-4 col-lg-4 disable-form-checkout" style="border: 1px solid red">
                <div class="checkout-title">
                  <span>1. Sou um novo cliente</span>
                </div>
                
                <form> 
                  <div class="form-group">
                    <label for="exampleInputEmail2">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                  </div> 

                  <div class="form-group">
                    <label for="exampleInputName2">Name</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputSobrenome2">Email</label>
                    <input type="text" class="form-control" id="exampleInputSobrenome2" placeholder="jane.doe@example.com">
                  </div>   
                </form>

              </article>

	            <!-- pagemnto checkout -->  
              <article class="col-xs-12 col-sm-4 col-lg-4" style="border: 1px solid red">teste</article>
              <!--finish checkout-->
	            <article class="col-xs-12 col-sm-4 col-lg-4" style="border: 1px solid red">teste</article>  
		        </div>   
	         </section>
          </div>